<!-- Box for the top content scroller/carousel - functionality is from Bootstrap -->
<div id="cntnt-scrlr-container" class="slide" data-ride="carousel">
  <!-- Slide indicator buttons - displays current slide and allows user to select -->
  <ol class="carousel-indicators">
    <!-- Currently displays 3 slides (# in use), must data-target to carousel wrapper -->
    <li data-target="#cntnt-scrlr-container" data-slide-to="0" class="active"></li>
    <li data-target="#cntnt-scrlr-container" data-slide-to="1"></li>
    <li data-target="#cntnt-scrlr-container" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <!-- First slide, active initially -->
    <div class="item active">
      <!-- Background/gradient for article title/description -->
      <div class="cntnt-scrlr-box-background">
        <%= image_tag("shade_overlay.png") %>
      </div>
      
      <!-- Slide title -->
      <div class="cntnt-scrlr-box-title no-selection trebuchet">
        This is Slide 1
      </div>
      
      <!-- Slide primary picture -->
      <div class="cntnt-scrlr-box-picture">
        <%= image_tag("sample_picture.jpg", height: "300px") %>
      </div>

      <!-- Span to display description, a read more box is displayed at the end -->
      <span class="cntnt-scrlr-box-description no-selection trebuchet">
        <!-- The description itself -->
        <a class="cntnt-scrlr-box-description-text no-underline" href="#">
          This is a short description of the post (this box dynamically resizes)
        </a>

        <!-- Read more button, has seperate background -->
        <div class="cntnt-scrlr-box-rdmore">
          <a class="cntnt-scrlr-box-rdmore-link no-underline" href="#">Read more...</a>
        </div>
      </span>
    </div>

    <!-- Second slide -->
    <div class="item">
      <!-- Background/gradient for article title/description -->
      <div class="cntnt-scrlr-box-background">
        <%= image_tag("shade_overlay.png") %>
      </div>

      <!-- Slide title -->
      <div class="cntnt-scrlr-box-title no-selection trebuchet">
        This is Slide 2
      </div>

      <!-- Slide primary picture -->
      <div class="cntnt-scrlr-box-picture">
        <%= image_tag("sample_picture.jpg", height: "300px") %>
      </div>

      <!-- Span to display description, a read more box is displayed at the end -->
      <span class="cntnt-scrlr-box-description no-selection trebuchet">
        <!-- The description itself -->
        <a class="cntnt-scrlr-box-description-text no-underline" href="#">
          This is a short description of the post (this box dynamically resizes)
        </a>

        <!-- Read more button, has seperate background -->
        <div class="cntnt-scrlr-box-rdmore">
          <a class="cntnt-scrlr-box-rdmore-link no-underline" href="#">Read more...</a>
        </div>
      </span>
    </div>

    <!-- Third slide -->
    <div class="item">
      <!-- Background/gradient for article title/description -->
      <div class="cntnt-scrlr-box-background">
        <%= image_tag("shade_overlay.png") %>
      </div>

      <!-- Slide title -->
      <div class="cntnt-scrlr-box-title no-selection trebuchet">
        This is Slide 3
      </div>

      <!-- Slide primary picture -->
      <div class="cntnt-scrlr-box-picture">
        <%= image_tag("sample_picture.jpg", height: "300px") %>
      </div>

      <!-- Span to display description, a read more box is displayed at the end -->
      <span class="cntnt-scrlr-box-description no-selection trebuchet">
        <!-- The description itself -->
        <a class="cntnt-scrlr-box-description-text no-underline" href="#">
          This is a short description of the post (this box dynamically resizes)
        </a>

        <!-- Read more button, has seperate background -->
        <div class="cntnt-scrlr-box-rdmore">
          <a class="cntnt-scrlr-box-rdmore-link no-underline" href="#">Read more...</a>
        </div>
      </span>
    </div>
  </div>
</div>

<!-- List of subsequent articles -->
<div class="content-bar"></div>
<div class="content-bar"></div>
<div class="content-bar"></div>
<div class="content-bar"></div>