// SCSS for the header

// Define color variables
$header-grey-top: #444;
$header-grey-bottom: #363636;
$header-blue: #5685B4;

// Mixin to handle cross-browser gradients
@mixin vertical-gradient($top, $bottom) {
  background-color: $top; // if the browser cannot display gradient, display the top color
  background: -webkit-linear-gradient($top, $bottom); // Safari
  background: -o-linear-gradient($top, $bottom); // Opera
  background: -moz-linear-gradient($top, $bottom); // Firefox
  background: linear-gradient($top, $bottom); // Standard CSS3 Syntax
}

// General positioning class - centers element on the page (assumes width of 800px)
.inbody {
  left: 50%;
  margin-left: -400px;
  width: 800px;
}

// The wrapper <header> for the masthead
#masthead {
  @include vertical-gradient($header-grey-top, $header-grey-bottom);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 55px;
  width: 100%;
  color: #FFF;

  // The club logo
  #logo {
    @extend .inbody;
    position: absolute;
    width: 85px;
    height: 50px;
    top: -5px;
    padding-left: 35px;
  }

  // Wrapper for the navigation menu/dropdown
  #menu-nav {
    @extend .inbody;
    position: absolute;
    top: 39px;
    padding-left: 49px;
    margin-left: -401px;
    z-index: 20;
    cursor: default;

    // Define the default color for the glyphicon button
    #menu-button {
      color: #FFF;
    }

    // Define the color for mouse-over for the glyphicon button
    #menu-button:hover {
      color: #CCC;
      text-decoration: none;
    }
  }

  // The semi-transparent text that displays the club name
  #mast-text {
    @extend .inbody;
    position: absolute;
    cursor: default;
    font-size: 90px;
    top: -35px;
    padding-left: 105px;
    opacity: 0.1;
  }

  // The pretty little line at the bottom of the masthead
  #mast-bottom {
    position: absolute;
    top: 55px;
    width: 100%;
    height: 5px;
    background-color: $header-blue;
  }
}