// SCSS for the home page

// Define color variables
$carousel-green: #4F8C40;
$dark-grey: #333;
$white: #FFF;

// Class to prevent the default underline on hover (a)
.no-underline:hover {
  text-decoration: none;
}

// Container for top content scroller/carousel - centered on page
#cntnt-scrlr-container {
    position: relative;
    top: 65px;
    margin-bottom: 95px;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 300px;

    // Sets the position of carousel indicator buttons
    .carousel-indicators {
      left: 200px;
    }

    // Defines the height of carousel slides
    .carousel-inner {
      height: 300px;
    }

    // The title/description background for all of the carousel slides
    .cntnt-scrlr-box-background {
      position: absolute;
      top: 0px;
      left: 00px;
      width: 400px;
      height: 300px;
      background: $carousel-green;
    }

    // The title for carousel slides
    .cntnt-scrlr-box-title {
      position: absolute;
      top: 70px;
      left: 65px;
      color: $white;
      font-size: 26px;
    }

    // The description <span>, contains text description and read more box
    .cntnt-scrlr-box-description {
      position: relative;
      display: inline-block; // important to put everything on single row
      top: 150px;
      left: 65px;
      padding-left: 6px;
      height: 30px;
      background-color: $white;
      opacity: .85; // slightly transparent until hovered over

      // Short slide description
      .cntnt-scrlr-box-description-text {
        display: inline-block;
        color: $dark-grey;
        font-size: 13px;
        padding-right: 6px;
        padding-top: 5px;
      }

      // Read more box after description
      .cntnt-scrlr-box-rdmore {
        display: inline-block;
        position: relative;
        left: 0px;
        top: -4px;
        width: 91px;
        height: 30px;
        background-color: $carousel-green;

        // The click-able link in the read more box
        .cntnt-scrlr-box-rdmore-link {
          position: relative;
          top: 4px;
          left: 5px;
          color: $white;
          font-size: 13px;
          font-style: italic;
        }
      }
    }

    // Eliminates transparency in description <span> on mouse over
    .cntnt-scrlr-box-description:hover {
      opacity: 1.0;
    }

    // The picture used for each slide in the carousel
    .cntnt-scrlr-box-picture {
      position: absolute;
      top: 0px;
      left: 400px;
      width: 400px;
      height: 300px;
      overflow: hidden;
    }
}

// Class for boxes on for the lower portion of the page - subsequent articles
.content-bar {
    position: relative;
    margin-top: 30px;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 255px;
    background: #CCC;
    border-bottom: 1px solid #AAA;
  }