// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Makes a piece of text or element unselectable
.no-selection {
  cursor: default;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Defines the Trebuchet font family used throughout the side
.trebuchet {
  font-family: "Trebuchet MS", Ubuntu;
}