<!-- Code for the Masthead -->

<!-- Wrapper for the header/masthead -->
<header id = "masthead">
  <!-- Club logo -->
  <%= image_tag("fishing-hook.png", alt: "Piscary Club Logo", id: "logo") %>

  <!-- Wrapper for the dropdown navigation menu -->
  <div class="dropdown" id="menu-nav">
    <!-- Icon/button for the menu -->
    <a class = "dropdown-toggle glyphicon glyphicon-chevron-down" id = "menu-button" data-toggle="dropdown"></a>

    <!-- List of menu contents -->
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li class="trebuchet" role="presentation"><a role="menuitem" tabindex="-1" href="#">Photography</a></li>
      <li class="trebuchet" role="presentation"><a role="menuitem" tabindex="-1" href="#">Fishing</a></li>
      <li class="trebuchet" role="presentation"><a role="menuitem" tabindex="-1" href="#">Mathematics</a></li>
      <li class="trebuchet" role="presentation"><a role="menuitem" tabindex="-1" href="#">Vineeth's College Search</a></li>
    </ul>
  </div>

  <!-- Semi-transparent website title -->
  <div class = "no-selection trebuchet" id = "mast-text">
    PISCARY CLUB
  </div>

  <!-- The pretty little line at the bottom of the masthead -->
  <div id = "mast-bottom"></div>
</header>